{ margin:0;}

body{
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;
  flex: 1;
  height: 100vh;*/
}

header{
  background-color: lightgray;
  /*padding: .4rem;*/
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*flex-basis: 10%;*/
}

a{
  display: flex;
  height: 4rem;
  width: 8rem;
  border: solid black;
  justify-content: center;
  align-items: center;
}

ul {

  display: flex;
  list-style: none;
  gap: .8rem;
  justify-content: space-between;
  align-items: center;

}

.contact{
  display: flex;
  color: white;
  background-color: black;
  height: 4rem;
  align-items: center;
  justify-content: center;
}


.container {
  display: flex;
  gap: .4rem;
  height: 100vh;
  border: solid gray;
  padding: .8rem;

}

 aside {
  display: flex;
  flex-basis: 25%;
  background: gray;
  align-items: flex-start;
  gap: .1rem;
  justify-content: center;
  flex-direction: row-reverse;
}


main{
  display: flex;
  border: dashed 1px;

  flex: 1;
  justify-content: center;

}

.galery{
  display: flex;
  flex-wrap: wrap;
  boder: dashed lightgray 1px;
  gap:.8rem;
  height: 90vh;
  flex: 1;
  justify-content: space-around;
  padding-top: .8rem;

}

.galery div{
  border: solid 1px ;
  width: 30%;

}

button{
  display: flex;
  align-items: center;
  gap: .4rem;
  line-height: 0;

}

img{
  width: 4rem;
  height: 4rem;
}

footer{
  margin-top: auto;
  display: flex;
  flex-direction: row-reverse;
  background: lightgray;
  height: 10%;
  align-items: center;
  justify-content: center;
}

